[mysqld]
# Net
bind-address = 0.0.0.0
port = 3306

# Characters
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Storage Engine
default-storage-engine = InnoDB

# Performance
max_allowed_packet = 16M
thread_cache_size = 8
query_cache_size = 0
query_cache_type = 0

# Error channel
log_error = stderr

# Socket file
socket = /var/run/mysqld/mysqld.sock

# Security
skip_name_resolve = 1
local_infile = 0

# PID file
pid-file = /var/run/mysqld/mysqld.pid

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysql]
prompt = "MariaDB [\\d]> "
no-auto-rehash
